.left-section{
	width: 70%;
}
.right-section{
	width: 25%;
}
.how-to-play{
	width: 100%;
	height: auto;
	margin-top: 20px;
	color: #c9c1a2;
    font-size: 17px;
	background-color: rgba(31, 31, 31, 0.66);
	box-sizing: border-box;
	padding: 20px;
	line-height: 2;
	
}
.how-to-play h1{
	color: rgb(188, 35, 35);
	font-size: 18px;
	margin-bottom: 10px;
}
.how-to-play ul{
	margin-top:20px;
	width: 90%;
	margin: 0 auto;
}
.how-to-play ul.table-view{
	list-style: none;
	width: 70%;
	padding: 20px 0px;
}
.how-to-play ul.table-view li span{
	float: right;
    margin-right: 10px;
}
.table-view li{
	padding: 3px 7px;
    border: 1px solid #c9c1a2;
    border-bottom: none;
}
.table-view li:last-child{
	border-bottom: 1px solid #c9c1a2;
}
.table-heading{
	color: rgb(188, 35, 35);
}
.feedback-container{
	height: auto;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
textarea{
	color: #c9c1a2;
    font-size: 17px;
    background-color: rgba(31, 31, 31, 0.66);
	font-family: inherit;
	max-width: 300px;
	outline: none;
	padding: 5px;
	box-sizing: border-box;
	border: none;
	margin-bottom: 15px;
}
.error-container{
	margin-bottom: 20px;
}