nav,.right-section,.background-pic,.login{
        display:none !important;  
}
.homescreen{
    display:block;
}
.left-section{
    float:right !important;
}
.homevideo input{
    width: 100%;
    margin-bottom: 5px;	
    background-color: rgba(31, 31, 31, 0.66);
}
.help-block{
    color:#F7F4C4;   
}
.alert-danger{
    text-align: center;
    font-size: 18px;
    color: #F7F4C4;
    letter-spacing: 0.3px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	opacity: 0.5;
	overflow: hidden;
}
.stopfade { 
   opacity: .5;
}

.homevideo {     
	color: white;
    padding: 2rem;
    width: 33%;
    float: right;
	background-color: rgba(31, 31, 31, 0.2);
}
h1 {
	text-align: center;
}
.homevideo button, .btn { 
	display: block;
	width: 45%;
	border: none; 
	margin: 1rem auto; 
	font-size: 1.3rem;
	color: #fff;
	border-radius: 3px; 
	cursor: pointer;
	transition: .3s background;
	font-family: inherit;
	background: none;
	text-align: center;
    background-color: rgba(31, 31, 31, 0.66);
}

.homevideo button:hover { 
   background: rgba(0,0,0,0.5);
}
.form-group{
	margin-top: 10px;
}
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(../images/world-cup-winning.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.video-control{
    position:fixed;
    bottom:20px;
    left:20px;
}
.border{
	border: 1px solid red !important;
}
.loading{
	text-align: center;
}
.loading img{
	height: 40px;
}
.icon-play2, .icon-pause, .icon-volume-mute, .icon-volume-mute2{
	font-size: 24px;
    color: #F7F4C4;
	cursor: pointer;
	margin-right: 10px;
}