<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html ng-app="aplfantasy" class="no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="Official Fantasy website for APL Season 3" name="description">
        <meta content="Fantasy, APL; APL3, Season3, APL3 Season 3 fantasy, APL Fantasy" name="keywords">
        <meta content="2 days" name="revisit-after">
        <meta content="never" name="expires">
        <meta content="http://www.aplfantasy.com" name="identifier-url">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=7,9,10">
		<link rel="stylesheet" type="text/css" href="css/html5-doctor-reset-stylesheet.css" >       
		<link rel="stylesheet" type="text/css" href="css/html5-doctor-reset-stylesheet.min.css" > 
		<link rel="stylesheet" type="text/css" href="css/style.css" >
		<link rel="stylesheet" type="text/css" href="css/lightslider.css" >
        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato|Lobster' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
        <link href='css/ie.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/custom.css" > 
        <link type="image/x-icon" href="images/APLLogo.png" rel="shortcut icon">
        <!--<link rel="stylesheet" type="text/css" href="css/responsive.css" > -->
		<script src="js/libs/jquery.min.js"></script>
		<script src="js/libs/lightslider.js"></script>	
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
		<script src="js/libs/angular-ui-router.min.js"></script>
        <script src="js/libs/angular-cookies.js"></script>
		<script src="js/libs/angular-animate.min.js"></script>
		<script src="js/libs/jquery-ui.js"></script>
		<script src="js/libs/angular-dragdrop.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/constants.js"></script>
        <title>APL Fantasy</title>
        <script src="js/libs/iealert.min.js"></script>
	</head>
	<body>
        <!--<div class="mobile-download">
            <div class="mobile-download-overlay"></div>
            <div class="mobile-download-content">
                <div class="mobile-data">
                    Sorry!. This site doesn't have mobile view, please download mobile app
                </div>
                <div class="mobile-download-icons">
                    <span class="android">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.olacabs.customer"><img src="/images/playstore.png"</a>
                    </span>
                    <span class="iphone">
                        <a target="_blank" href="https://itunes.apple.com/in/app/ola-cabs/id539179365"><img src="/images/iapp.png"</a>
                    </span>
                </div>
            </div>
        </div>-->
		<div class="wrapper clearfix" ng-controller = "indexController" scroll>
            <div class="homescreen">
                <video width="100%" height="100%" autoplay poster="../images/world-cup-winning.jpg" controls preload="metadata" id="bgvid" loop muted>
                      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                 <!--  <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
                    <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">-->
                   <!-- <source src="video/APLMovieLow.mp4" type="video/mp4"> -->
                    
                </video>
                <div class="video-control">                
                    <span class="icon-play2" ng-show="videoPlay" ng-click = "playVideo()"></span>
					<span class="icon-pause" ng-show="videoPause" ng-click="pauseVideo()"></span>
                    <span class="icon-volume-mute2" ng-show="videoMute" ng-click = "muteVideo()"></span>
					<span class="icon-volume-mute" ng-show="videoUnmute" ng-click="unmuteVideo()"></span>
                </div>
            </div>
			<div class="background-pic"></div>
			<header class="clearfix">
				<div class="logo-section clearfix">
					<div class="logo-container">
						<div class="logo"></div>
					</div>
					<div class="logo-text" ng-show="headerOnscroll">
						<p class="logo-name"></p>
					</div>
				</div>
				<div class="login">
					<div class="clearfix" ng-click="showLogoutMenu()"><img src="images/man.jpg" alt="Smiley face" class="login-img"/></div>
					<div class="logout-dropdown" ng-show="showLogoutOptions" ng-animate="'fade'">
						<div><a href="#/profile">My profile</a></div>
						<div><a href="#/login">Logout</a></div>
					</div>
				</div>
			</header>
			<nav>
				<ul class="side-nav" id="side-nav">
					<li class="my-team-link"><a href="#/players"><span class="icon-users" showonhoverparent></span><span class="text">My team</span></a></li>
					<li><a href="#/leaderBoard"><span class="icon-user-tie" showonhoverparent></span><span class="text">Leader Board</span></a></li>
					<li><a href="#/fixtures"><span class="icon-stats-dots" showonhoverparent></span><span class="text">Fixtures</span></a></li>
					<li><a ng-click="clearHistory()" href="#/history"><span class="icon-history" showonhoverparent></span><span class="text">History</span></a></li>
					<!--<a href="#/prizes"><li><span class="icon-gift" showonhoverparent></span><span class="text">Prizes</a></span></li>-->
					<li><a href="#/howToPlay"><span class="icon-question" showonhoverparent></span><span class="text">How to play</span></a></li>
				</ul>
			</nav>
			<section class="clearfix">		
					<div class="container ui-view-container" id="container">
						<div class="well" ui-view></div>
					</div>
			</section>     
		</div>
        <script src="js/app.js"></script>
        <script src="js/controllers/homeController.js"></script>
        <script src="js/controllers/leaderBoardController.js"></script>
      	<script src="js/controllers/playerController.js"></script>
        <script src="js/controllers/fixtureController.js"></script>
        <script src="js/controllers/indexController.js"></script>
        <script src="js/controllers/loginController.js"></script>
        <script src="js/controllers/registerController.js"></script>
        <script src="js/controllers/profileController.js"></script>
		<script src="js/controllers/historyController.js"></script>
		<script src="js/controllers/playerHistoryController.js"></script>
		<script src="js/controllers/viewPlayerDetails.js"></script>
		<script src="js/controllers/howToPlay.js"></script>
        <script src="js/services.js"></script>
	    <script src="js/controller.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("body").iealert({
                    support: "ie9",
                    closeBtn: false
                });
            });
        </script>
		
		
	</body>
</html>