<link rel="stylesheet" type="text/css" href="css/howToPlay.css" >
<div class="left-section">	
	<div class="how-to-play">
		<h1>How to play </h1>
		<p>This is an official fantasy web site for APL Season 3. </p>
		<h1>What's new? </h1>
		<ul>
			<li>DREAM XI - A brand new add-on to the Fantasy League, which can be played in parallel and independently.
				<h1>Some highlights of the Dream XI Fantasy Game are :</h1>
				<ul>
					<li>Make your own team without any constraints - Choose the 11 players you think are the best in the APL cricket today and will perform the best in the next match. Appoint one of them as the captain of the team</li>
					<li>No player per team constraints, No restricting on selecting player based on type(bat,bowl, all rounder). Just pick up anyone you feel apt for your team</li>
					<li>Scoring for Dream XI will be same as the Budget fantasy</li>
					<li>Please note that you can make unlimited transfers to your Dream XI team till the start of first match. Post transfers will reduce from your total transfers</li>
				</ul>
			</li>
			<li>A total 10 transfers available for each quarter</li>
			<li>You can select your team for each match. In the event of four matches in a day, please note that you can change your team/captain for the second/next match after the scheduled start time of the first/current match</li>
			<li>You can select a maximum of 5 players from a single team </li>	
		</ul>
		<h1>Selecting Your Team</h1>
		<ul>
			<li>You can select your team after successful login</li>
			<li>Now you can create team on your mobile as well</li>
			<li>Start by selecting a team name. For the APL 3, you must select your 11 men team (with one player designated as your captain) using a budget of 100 million dollars, with no more than 5 players from a single team</li>
			<li>You need to have minimum of 4 all rounder, 5 batsman, 3 bowler and 3 impact players in your team</li>
		</ul>
		<h1>How to make Team Changes?</h1>
		<ul>
			<li>There is a MANAGE TEAM link in home screen, you can navigate to the manage team page by clicking “EDIT” <span class="icon-pencil change-squad"></span> icon</li>
			<li>Click on the Remove X icon near the name of the player you wish to transfer out from your current line-up and then select the player you wish to transfer into your team from the list of available players by clicking on the player’s name</li>
			<li>Press SUBMIT YOUR TEAM button to complete the transfer(s) made to your team. Please do remember to nominate a captain before you submit. Once if you have pressed the Submit button, you will return to your team screen</li>
		</ul>
		<h1>Things to Note</h1>
		<ul>
			<li>What Constitutes a Transfer - Please note that a simple “one player out,one player in” represents one team transfer. Five players out and five players in counts as five team transfers, irrespective of whether they are carried out at the same time or not.</li>
			<li>Player Points Through Transfers - The points scored by a player whilst in your team that was frozen at the time of match start will be credited to your team total. You will NOT score points obtained by a player after they are transferred out for the next match, not will you gain the points scored by the incoming player for the earlier matches before being brought into your team</li>
		</ul>
		<h1>Making Team Changes for the APL3</h1>
		<p>Transfers are unlimited till the scheduled start of the 1st match.</p>
		<p>For Example : </p>
		<p>1st match of the APL league starts at 7:00Am IST, Saturday 12th September 2015. There are no restrictions on the number of transfers you can make before 7:00am IST, Saturday 12th September 2015.</p>
		<p>Transfers are deducted only after the scheduled start of the 1st match of the quarter.</p>
		<p>All transfers must be made before the scheduled start of the match you wish to make changes for. Transfers made after the scheduled start of the match, will be applicable only for the next match.</p>
		<h1>Number of Transfers for the APL league – Quarter 1 :</h1>
		<p>You can make up to 10 transfers during the course of APL league – Quarter 1. Extra transfers wouldn’t be given for final matches, so plan your strategy accordingly. </p>
		<p>APL Q1 league starts at 7:00Am IST, Saturday 12th September 2015.</p>
		<h1>Captain changes for the Indian T20 league</h1>
		<p>Captain changes are unlimited throughout the competition and can therefore be changed prior to the scheduled start time of every single match.</p>
		<h1>DREAM XI:</h1>
		<h1>Selecting Your Dream XI Team</h1>
		<p>To select your team, go to the Dream XI tab from the navigation. You need to select 11 players who you think will score the most points during the course of the APL-Q1. Additionally, you need to select one player as a captain of your Dream XI team.</p>
		<p>There are no budget, players per team, and formation restrictions for Dream XI. You can simply select 11 players you think will score the maximum points, it’s as simple as that.</p>
		<h1>How to make Team Changes</h1>
		<p>You can make unlimited changes to your Dream XI team till the start of the first match of the Indian T20 league. Please note that once the first match is locked you will not be able to make any changes to your Dream XI team, so ensure that you have your team ready before the start of the Indian T20 league.</p>
		<h1>SCORING POINTS</h1>
		<p>The scoring system for APL Fantasy League is easy to follow, with points updated usually within an hour of the completion of each match. Scoring for Dream XI will be same as the Budget fantasy.</p>
		<p>Points will also be updated on the leaderboard for every match. The points allotted are subject to change based on the actual performance of the players selected during the entire course of the match and will be updated at the end of the match.</p>
		<p>Your 11 man team will score points based on your players' bowling, batting and fielding performances, as well as for the official Man of the Match.</p>
		<p>Your captain will earn double the points he scores for the team.</p>
		<h1>Core Scoring:</h1>
		<p>Batting Points</p>
		<ul>
			<li>Runs scored: 1 point per run scored</li>
		</ul>
		<p>Bowling Points</p>
		<ul>
			<li>Bowler taking a wicket - 20 points</li>
		</ul>
		<p>Fielding Points</p>
		<ul>
			<li>Catches: 10 points per catch held</li>
			<li>Stumping’s: 10 points per stumping</li>
			<li>Run outs: 10 points per run-out</li>
			<li>Catches drop: -10points per catch drop</li>
			<li>In case multiple players are credited with a Run out, the player considered to be most effective in affecting the run out is awarded the points</li>
		</ul>
		<h1>Bonus Points</h1>
		<ul>
			<li>+5 points for every 10runs that a player scores</li>
			<li>+15 points for every 25runs that a player scores</li>
			<li>+20 points for every 35runs that a player scores</li>
			<li>+25 points for every 50runs that a player scores</li>
			<li>+30 points for every 51+runs that a player scores</li>
		</ul>
		<p>Points for batting strike rates, as per following slabs</p>
		<ul class="table-view">
			<li class="table-heading">Run rate bonus (for players scoring 15 runs or more or facing 8 balls or more)</li>
			<li>Between 0.00 and 90.00 runrate per 8 balls	<span>- 10 points</span></li>
			<li>Between 90.01 and 120.00 runrate per 8 balls	<span>0 points</span></li>
			<li>Between 120.01 and 150.00 runrate per 8 balls	<span>5 points</span></li>
			<li>Between 150.01 and 180.00 runrate per 8 balls	<span>10 points</span></li>
			<li>180.01 runrate per 8 balls and over	<span>15 points</span></li>
		</ul>
		<h1>Negative Bonus Points</h1>
		<ul>
			<li>-5 (negative five) points for every player who is dismissed</li>
			<li>-10 (negative ten) points for every player who is dismissed for a duck</li>
		</ul>
		<h1>Bonus Points for Bowling</h1>
		<ul>
			<li>+ 20 points for players who get a three-wicket haul</li>
			<li>+ 30 points for players who get a five-wicket haul</li>
			<li>+ 20 points for players who take a hat-trick</li>
			<li>+ 20 points for player winning man of the match award</li>
		</ul>
		<ul class="table-view">
			<li class="table-heading">Economy rate bonus (for players bowling two overs or more)</li>
			<li>Between 0.00 and 4.00 runs per over	<span>15 points</span></li>
			<li>Between 4.01 and 5.50 runs per over	<span>10 points</span></li>
			<li>Between 5.51 and 7.00 runs per over	<span>0 points</span></li>
			<li>Between 7.01 and 9.00 runs per over	<span>-10 points</span></li>
			<li>9.01 runs per over	<span>-15 points</span></li>
		</ul>
		<p>In cases where matches are abandoned, point scoring will consider only the player contributions in the match until the stoppage of play. However, if a match has been abandoned without a ball being bowled, no points are awarded.</p>
		<h1>Kindly note, NO POINTS will be allocated to any player/players for the SUPER OVER.</h1>
	</div>
</div>
<div class="right-section">
	<div class="leader-board-heading">Feedback</div>
	<div class="feedback-container"> 
		<div class="error-container" ng-show="showError" ng-animate="'fade'">
		  <p class="error-msg">{{errorMessage}}</p>
		  <span ng-click="closeError()" class="icon-cancel-circle"></span>
	   </div>
		<textarea placeholder="Please enter your valuable feedback" ng-model="feedBack" cols="40" rows="5"></textarea>
		<button class="save-players" ng-click="saveFeedBack()">Save</button>
	</div>
</div>