<link rel="stylesheet" type="text/css" href="css/leader.css" >  
<div class="left-section">
	<div class="loading-main" ng-show="dataLoading">
	  <img src="../images/loading.gif"/>
	  <span>Please wait...</span>
   </div>
   <div class="error-container" ng-show="showError" ng-animate="'fade'">
	  <p class="error-msg">{{errorMessage}}</p>
	  <span ng-click="closeError()" class="icon-cancel-circle"></span>
   </div>
	<div class="parent">
		<div>
			<div class="leader-board-heading">Leader Board</div>
			<div class="table-unique-header">
				<table class="main-leader-page">
					<tr>
						<th>Team</th>
						<th>Owner Name</th>
						<th>Points</th>
						<th>Rank</th>
					</tr>
				</table>
			</div>
			<div class="leader-board-scrollableDiv">
				<table class="main-leader-page">
					<tr ng-repeat="content in leaderBoardContent">
						<td ng-click="getLeaderBoardTeamDetails(content)" ng-show={{content.imageUrl!=null}}><img  ng-src="{{content.imageUrl}}"/>{{content.teamName}}</td>
						<td ng-click="getLeaderBoardTeamDetails(content)" ng-show={{content.imageUrl==null}}><img   ng-src="../images/man.jpg"/>{{content.teamName}}</td>
						<td>{{content.ownerName}}</td>
						<td>{{content.points}}</td>
						<td>{{content.points}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="right-section">
	<div class="leader-board-heading">Popular players</div>
	
</div>