<div class="left-section">	
	<div class="content-section" id="my-team">	
	   <div class="loading-main" ng-show="dataLoading">
		  <img src="../images/loading.gif"/>
		  <span>Please wait...</span>
	   </div>
		<div class="error-container" ng-show="showError" ng-animate="'fade'">
		  <p class="error-msg">{{errorMessage}}</p>
		  <span ng-click="closeError()" class="icon-cancel-circle"></span>
	   </div>
		<div class="my-profile clearfix">
			<div class="team-profile">
				<span class="profile-heading">Points</span>
				<span class="profile-value">{{teamProfile.totalPoints}}</span>
				<span class="profile-heading">Rank</span>
				<span class="profile-value">{{teamProfile.rank}}</span>
				<span class="profile-heading">Transfers</span>
				<span class="profile-value" ng-if="teamProfile.transfersLeft <= '10'">{{teamProfile.transfersLeft}}</span>
                <span class="profile-value" ng-if="teamProfile.transfersLeft > '10'">&infin;</span>
                
			</div>
			<span class="icon-pencil change-squad" showonhover ng-click="changeSquad()"></span>
			<span class="manage-hover-text">Manage team</span>
			<span>{{teamProfile.teamName}}</span>
		</div>
		<ul class="content-container slide clearfix">
			<li class="clearfix" ng-repeat="player in fantasyTeam track by $index">
				<img ng-src={{player.playerImage}} class="image-container"/>
				<img src='images/bat.jpg' ng-show="{{player.playerTypeId}}=='1'" class="specialization"/>
				<img src='images/ball.png' ng-show="{{player.playerTypeId}}=='2'" class="specialization"/>
				<img src='images/bat_ball.png' ng-show="{{player.playerTypeId}}=='3'" class="specialization"/>			
				<!--<span class="player-points">{{ player.totalPoints }}</span>-->
				<img src='../images/captain.png' ng-show="{{player.isCaptain}}== 1" class="is-captain"/>	
				<div class="player-data">
					<span>{{ player.playerName | limitTo: 13}}{{player.playerName.length > 13 ? '...' : ''}}</span>
					<span>$ {{ player.playerPrice }}</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="right-section">
	<div class="leader-board-heading">Leader Board</div>
	<ul class="leader-board-content">
		<li class="clearfix" ng-repeat="content in leaderBoardContent | limitTo: 8">
			<img ng-src={{content.imageUrl}}>
			<span>{{content.teamName}}</span>
			<span>{{content.points}}</span>
		</li>
	</ul>
</div>