<div class="left-section">	
	<div class="content-section" id="my-team">
	   <div class="loading-main" ng-show="dataLoading">
		  <img src="../images/loading.gif"/>
		  <span>Please wait...</span>
	   </div>
	   <div class="error-container" ng-show="showError" ng-animate="'fade'">
		  <p class="error-msg">{{errorMessage}}</p>
		  <span ng-click="closeError()" class="icon-cancel-circle"></span>
	   </div>
		<p class="back back-history"><a ng-click="backToHistory()"><span class="icon-circle-left"></span>Back</a></p>
		<ul class="content-container slide clearfix">
			<li class="clearfix" ng-repeat="player in fantasyTeamHistory track by $index">
				<img ng-src={{player.playerImage}} class="image-container"/>
				<img src='images/bat.jpg' ng-show="{{player.playerTypeId}}=='1'" class="specialization"/>
				<img src='images/ball.png' ng-show="{{player.playerTypeId}}=='2'" class="specialization"/>
				<img src='images/bat_ball.png' ng-show="{{player.playerTypeId}}=='3'" class="specialization"/>	
				<img src='../images/captain.png' ng-show="{{player.isCaptain}}== 1" class="is-captain"/>	
				<div class="player-data">
					<span>{{ player.playerName | limitTo: 13}}{{player.playerName.length > 13 ? '...' : ''}}</span>
					<span>{{ player.points }}</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="right-section">
	<div class="leader-board-heading">Leader Board</div>
	<ul class="leader-board-content">
		<li class="clearfix" ng-repeat="content in leaderBoardContent | limitTo: 8">
			<img ng-src={{content.imageUrl}}>
			<span>{{content.teamName}}</span>
			<span>{{content.points}}</span>
		</li>
	</ul>
</div>